# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Data files
*.csv
*.tsv
*.json
*.h5
*.pkl

# Other
.DS_Store
*.egg-info/
dist/
build/
.env